<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Easy auth - Get Profile from API server</title>
</head>
<style>
    .resources {
      background-color: lightgray;
    }
  </style>
<body>
    <h2>Client (EJS) server - Profile</h2>

    <% if (error) { %>

        <h3>Error</h3>
        <p>
            <%= error %>
        </p>

        <% } else { %>


            <h3>Access token</h3>
            <p>
                <div><%= user %></div>
                <div><%= scope %></div>
                <%= accessToken %>
                
            </p>

            <br><br><br><br>
            <div class="resources">
                <details>
                <summary>Additional resources - Easy auth</summary>

                <h3>Token refresh middleware</h3>
                <p>
                    <%- JSON.stringify(tokenMiddleware, null, 6) .replace(/\n( *)/g, function (match, p1) {
                        return '<br>' + '&nbsp;' .repeat(p1.length); }); %>
                </p>

                <h3>HTTP Headers</h3>
                <p>
                    <%- JSON.stringify(headers, null, 6) .replace(/\n( *)/g, function (match, p1) { return '<br>'
                        + '&nbsp;' .repeat(p1.length); }); %>
                </p>

                <h3>App Service environment variables</h3>
                <p>
                    <%- JSON.stringify(env, null, 6) .replace(/\n( *)/g, function (match, p1) { return '<br>' + '&nbsp;'
                        .repeat(p1.length); }); %>
                </p>
                </p>
            </details>
                <% } %>
</body>

</html>