<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Easy auth - Get Profile from API server</title>
</head>
<style>
    .resources {
        background-color: lightgray;
    }
</style>

<body>
    <h2>API server - Profile</h2>
    <h5>Remote url: <%= remoteUrl %></h5>

    <% if (error) { %>

        <h3>Error</h3>
        <p>
            <%= error %>
        </p>

        <% } else { %>

            <h3>Success</h3>
            <p>
                <%- JSON.stringify(profile, null, 6) .replace(/\n( *)/g, function (match, p1) { return '<br>' + '&nbsp;'
                    .repeat(p1.length); }); %>
            </p>
            <br><br><br><br>
            <details>
            <summary>Additional resources - Easy auth</summary>
            <div class="resources">

                <h3>API Service HTTP Headers</h3>
                <p>
                    <%- JSON.stringify(headers, null, 6) .replace(/\n( *)/g, function (match, p1) { return '<br>'
                        + '&nbsp;' .repeat(p1.length); }); %>
                </p>

                <h3>API Service environment variables</h3>
                <p>
                    <%- JSON.stringify(env, null, 6) .replace(/\n( *)/g, function (match, p1) { return '<br>' + '&nbsp;'
                        .repeat(p1.length); }); %>
                </p>

                <h3>API Service bearer token</h3>
                <p>
                    <%= bearerToken %>
                </p>
            </div>
            </details>
            </p>
            <% } %>

</body>

</html>
